/* BasicInfo.module.css */
.noSpinner::-webkit-outer-spin-button,
.noSpinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.noSpinner {
  -moz-appearance: textfield;
}

.disabledInput {
  background-color: #929599;
  
  cursor: not-allowed;
}